{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>{% block title %}URL Shortner{% endblock %}</h1>
                        <p>build in flask</p>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('short') }}">
                            <div class="form-group">
                                <input type="text" name="url" placeholder="URL to shorten" class="form-control" value="{{ request.form['url'] }}" autofocus>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if short_url %}
    <hr>
    <div style="text-align: center;">
        <span>{{ short_url }}</span>
    </div>
    {% endif %}
</div>
{% endblock %}